/*@font-face {
  font-family: Camphor;
  font-weight: 400;
  src: url('camphor.woff') format('woff');
}*/

/** {
  font-family: 'Camphor';
}
*/
body {
  background-color: #dbdbde;
}

.bg-gradient-white {
  background: #ece9e6 !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.uppercase {
  text-transform: uppercase !important;
}

.text-white {
  color: white !important;
}

.bgrey {
  background-color: #2f3c47 !important;
}

.bgrey-lighter {
  background-color: #465b6c !important;
}

.bgrey-color {
  color: #2f3c47 !important;
}

.byellow-color {
  color: #fcff00 !important;
}

.thicker {
  font-weight: 900 !important;
}

.hovered {
  width: 90px;
  height: 90px;
}

.default {
  width: 30px;
  height: 30px;
}

.full-height {
  height: 95vh !important;
  /*height: calc(100vh + 2px);*/
}

.legend {
  background-color: #2f3c47 !important;
  opacity: 0.9 !important;
}

.object-fit-cover {
  object-fit: cover;
}

.grey-link {
  color: rgba(0, 0, 0, 0.4);
}
.popup.transition.visible::before {
  z-index: -1;
}
