/*@font-face {
  font-family: Camphor;
  font-weight: 400;
  src: url('camphor.woff') format('woff');
}*/

/** {
  font-family: 'Camphor';
}
*/

.brand {
  font-family: 'Open Sans', sans-serif;
}

.text-white {
  color: white !important;
}

.bgrey {
  background-color: #2f3c47 !important;
}
